/* Visual Effects Animations */

@keyframes glitch {
    0% {
        transform: translate(0);
        text-shadow: none;
    }
    10% {
        transform: translate(8px, 0);
        text-shadow: -8px 0 rgba(255, 40, 89, 0.7), 4px 0 rgba(0, 255, 170, 0.7);
    }
    30% {
        transform: translate(6px, 0);
        text-shadow: -6px 0 rgba(255, 40, 89, 0.7), 3px 0 rgba(0, 255, 170, 0.7);
    }
    60% {
        transform: translate(4px, 0);
        text-shadow: -4px 0 rgba(255, 40, 89, 0.7), 2px 0 rgba(0, 255, 170, 0.7);
    }
    85% {
        transform: translate(2px, 0);
        text-shadow: -2px 0 rgba(255, 40, 89, 0.7), 1px 0 rgba(0, 255, 170, 0.7);
    }
    100% {
        transform: translate(0);
        text-shadow: none;
    }
} 