.banner-container {
    background-color: var(--text-color);
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 16px;

    iframe {
        width: calc(100% + 32px); // Account for the padding
        margin-left: -16px;
        height: 60px;
        border: none;
    }

    @media (max-width: 768px) {
        padding-left: 0;
        
        iframe {
            width: 100%;
            margin-left: 0;
        }
    }
} 