.site-footer {
    position: relative;
    border-top: 1px solid var(--border-soft);
    background: var(--body-bg);
    padding: 10px var(--margin-desktop);
    z-index: var(--z-footer);
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 30px;

    a {
        color: var(--text-color);
        text-decoration: none;
        font-family: var(--font-body);

        &:hover {
            color: var(--link-color);
        }
    }

    @media (max-width: 1024px) {
        padding: 0 var(--margin-laptop);
    }

    @media (max-width: 768px) {
        padding: 0 var(--margin-tablet);
        border-top: none;
    }

    @media (max-width: 480px) {
        padding: 0 var(--margin-mobile);
    }
}